$color_borders: #e2e2e2;
$color_bg: #fff;

$color_iata_text: #434343;
$zindex_fixed_panel: 4000;
$tablet_portrait: 800px;
$color_ndc: orange;
$color_sidebar: #fff;
$color_borders: #e2e2e2;
$color_grey: #ccc;
$color_default_text: #888;
$para_fontstack: 'Open Sans', sans-serif;
$width_side_bar: 220px;
$height_user_bar: 50px;
$color_normal_user: #E4E400;
$color_executive: #FF0031;
$color_director: #00E063;
$color_travel_manager: #FFA300;
$height_iata_bar: 50px;
$color_link_water_approx: #DDEBF9;
$color_azure_approx: #08568F;
$color_dropdown: #999;
$color_cbt: #5bb2da;
$sub-header-color: #252525;
$handle-bdr-color: #d3d3d3;
$handle-bg-color: #e6e6e6;

$info-icon-size: 30px;
$side-bar-tabs-width: 225px;